<!Doctype HTML>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Template is Working</title>
</head>
<body>
 I am learning and finish it soon 
<h1>Welcome to text analyzer. Enter Text</h1>
<form action = '/analyze' method='get'>
    <textarea name='text' style='width: 1069px; height: 88px;'>    
    </textarea><br>
    <input type = 'checkbox' name = 'removepunc'> Remove <br>
    <input type = 'checkbox' name = 'fullcaps'> Upper Case <br>
    <input type = 'checkbox' name = 'newlinerem'> New Line Remove <br>
    <input type = 'checkbox' name = 'spacerem'> Space Remove <br>
    <input type = 'checkbox' name = 'charcnt'> Char Count <br>
    <button type='submit'>Analyze</button>
</form> 
</body>
</html>

